:root {
  --color-light-text: #d7e0ff;
  --color-dark-text: #2d2f43;
  --color-body: #1e2140;
  --color-inner-circle: #151932;
  --color-blur: #262a57;
  --color-red: #fd6f6b;
  --color-blue: #6ff3f8;
  --color-pink: #d981f9;
  --color-number-background: #eef1fa;
  --color-selected-text: var(--color-inner-circle);
  --color-grey-text: #bebfc3;
  --color-unselected-text: #626682;
  --color-input-bg: #eef1fa;
  --color-modale-bg: #ffffff;
  --color-arrow: grey;
  --font-1: 'Roboto', monospace;
  --font-2: 'B612 Mono', sans-serif;
  --font-3: 'Ubuntu Mono', monospace;
  --timer: 30;
}

/* Color schemes */
:root,
:root.red {
  --color-theme: var(--color-red);
}


:root.blue {
  --color-theme: var(--color-blue);
}


:root.pink {
  --color-theme: var(--color-pink);
}

/* Font schemes */
:root,
:root.font-a {
  --font-theme: var(--font-1);
  --font: " (Roboto)"
}

:root.font-b {
  --font-theme: var(--font-2);
  --font: " (B612 Mono)"
}

:root.font-c {
  --font-theme: var(--font-3);
  --font: " (Ubuntu Mono)"
}

body {
  display: flex;
  justify-content: center;
  background: var(--color-body);
  font-family: var(--font-theme);
  overflow: hidden;
  margin: 0;
}

/* Icon for settings */
img {
  position: relative;
  top: -550px;
  width: 40px;
  cursor: pointer;
}

/* Heading with current active cycle */
.active-cycle, .inactive-bg, .sliding-holder {
  position: relative;
  display: flex;
  width: 50vw;
  min-width: 400px;
  max-width: 440px;
  justify-content: space-between;
}

/* Dark background for the heading */
.inactive-bg {
  position: relative;
  background-color: var(--color-inner-circle);
  border-radius: 50px;
  z-index: -1;
  top: -41px;
}

/* The counter */
h1 {
  position: relative;
  top: -600px;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 4px;
  height: 150px;
  width: 150px;
  max-width: 150px;
  line-height: 3em;
  text-align: center;
  background: transparent;
  color: var(--color-light-text);
  border-radius: 50%;
}

/* Heading in main screen and modal */
h2 {
  color: var(--color-light-text);
}

/* Color for heading in modal */
.h2-settings {
  color: var(--color-dark-text);
}

/* Text in "sliding header" */
h3, .inactive, .sliding-color {
  position: relative;
  background-color: transparent;
  color: var(--color-light-text);
  border-radius: 50px;
  padding: 10px 0px;
  width: 130px;
  height: 21px;
  text-align: center;
  margin: 0;
  font-size: 1em;
}

/* Text below counter */
h4 {
  position: relative;
  top: -690px;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: transparent;
  color: var(--color-light-text);
}

/* Most text in modal */
h5 {
  color: var(--color-dark-text);
  cursor: pointer;
  text-transform: uppercase;
}

/* Small text in modal */
h6 {
  margin: 10px 0 5px;
  color: var(--color-grey-text);
}

/* Change color of active cycle in header */
.active {
  animation: change-color 0s 1s forwards;
}

/* Start text color in header */
.start {
  color: var(--color-dark-text);
}

/* Change to dark color in active cycle in header */
@keyframes change-color {
  to {color: var(--color-dark-text)}
}

/* Active cycle */
.sliding-color {
  background-color: var(--color-theme);
  top: -82px;
  left: 0;
  z-index: -1;
  /* animation: done in js */
}

/* 5 different animations for the header showing active cycle */
@keyframes move-short {
  from {left: 0}
  to {left: calc(50% - 65px)}
}

@keyframes move-long {
  from {left: 0}
  to {left: calc(100% - 130px)}
}

@keyframes move-pomodoro {
  from {left: calc(50% - 65px)}
  to {left: 0}
}

@keyframes move-pomodoro-long {
  from {left: calc(100% - 130px)}
  to {left: 0}
}

@keyframes move-home {
  to {left: 0}
}

/* Definition of the angle variable */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Blur outside progress bar */
.a {
  height: 260px;
  width: 260px;
  border-radius:50%;
  background-color: transparent;
  box-shadow: 28px 28px 20px 30px var(--color-blur);
  rotate: calc(var(--angle) + 45deg);
  animation: animate var(--timer) linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Outer gradient outside progress bar */
.b {
  height: 220px;
  width: 220px;
  background: linear-gradient(var(--color-body), var(--color-body)) padding-box,
              linear-gradient(125deg, var(--color-blur), var(--color-body)) border-box;
  border: 20px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Circle outside progress bar */
.c {
  height: 222px;
  width: 222px;
  border-radius:50%;
  background-color: var(--color-inner-circle);
}


/* Progress bar (border) */
.d {
  position: relative;
  height: 222px;
  width: 222px;
  top: -240px;
  left: 20px;
  border-radius:50%;
  background: conic-gradient(
      var(--color-theme) var(--angle), transparent var(--angle));
  animation: animate var(--timer) linear;
  border: 15px var(--color-inner-circle) solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Circle inside progress bar */
.e {
  height: 166px;
  width: 166px;
  border-radius:50%;
  background-color: var(--color-inner-circle);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rectangle for placements of start and end dot */
.f, .h {
  height: 139.5px;
  width: 139.5px;
  background-color: blue;
  background-color: transparent;
  rotate: calc(var(--angle) + 45deg);
  animation: animate var(--timer) linear;
}

/* Rotation of rectangle and dot in end of progress bar */
@keyframes animate {
  to {
    --angle: 360deg;
  }
}

/* Dot in each end of progress bar */
.g, .i {
  height: 3px;
  width: 3px;
  position: relative;
  content: ' ';
  background-color: var(--color-theme);
  border: 5px solid var(--color-theme);
  border-radius: 50%;
}

/* Position of sqare with start dot */
.h {
  position: relative;
  top: -421px;
  rotate: 45deg;
  animation: none;
}

/* Flexbox for the complete app */
.main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The modal for settings*/
.modal {
  position: absolute;
  background: var(--color-modale-bg);
  top: 120px;
  /* left: 1000px; */
  z-index: 1;
  width: 400px;
  min-height: 300px;
  display: flex;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', monospace;
}

/* The "x" at the end of heading in modal */
.close {
  color: #a6a5ab;
  cursor: pointer;
}

/* Each line in the modal */
.line {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  align-items: center;
  gap: 20px;
}

/* Placement for small text and setting of each timer */
.line2 {
  display: flex;
  flex-direction: column;
}

/* Line with buttons at the bottom of modal */
.line3 {
  display: flex;
  justify-content: space-around;
}

/* Buttons at bottom in modal */
.button-2 {
  background-color: var(--color-theme);
  padding: 7px;
  border-radius: 10px;
}

.button-2:hover {
  outline: 3px solid var(--color-body)
}

/* Horizontal line at top in modal */
.hr-top {
  width: 100%;
}

/* Other horizontal lines in modal */
hr {
  width: 80%;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

/* All input fields in modal */
input {
  background-color: var(--color-input-bg);
  color: var(--color-dark-text);
  width: 80px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

/* Wrapper for increment and decrement in input */
.number-wrapper {
  position: relative;
}

/* Increment and decrement symbols */
.spantop,
.spanbottom {
  position: absolute;
  right: 4px;
  height: .5em;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-arrow);
  transform: rotate(90deg);
  cursor: pointer;
}

.spantop:hover,
.spanbottom:hover {
  color: black;
}

/* Placement of increment symbol */
.spantop {
  top: 2px;
}

/* Placement of decrement symbol */
.spanbottom {
  bottom: 2px;
}

/* 3 circular buttons */
.choises {
  display: flex;
  gap: 10px;
}

/* Each circular button */
.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Fonts used in each font button */
.button-a {
  font-family: var(--font-1);
}

.button-b {
  font-family: var(--font-2);
}

.button-c {
  font-family: var(--font-3);
}

/* Color of seleced font button */
.selected {
  color: white;
  background-color: black;
}

/* Placement of fontname after "FONT" */
.fontname::after {
  content: var(--font);
}

/* Color of unselected font buttons */
.unselected {
  color: var(--color-dark-text);
  background-color: var(--color-input-bg);
}

/* Color of color buttons */
.red-dot {
  background: var(--color-red);
}

.blue-dot {
  background: var(--color-blue);
}

.pink-dot {
  background: var(--color-pink);
}

/* Color of tag in selected color button */
.tagged {
  color: black;
}

/* Color of tag in unselected color buttons */
.untagged {
  color: transparent;
}

/* Some few changes for small screens */
@media (max-width: 420px) {
  .body {
    overflow: unset;
  }
  
  .modal {
      width: 100%;
      border-radius: 0;
  }

  .active-cycle,
  .inactive-bg,
  .sliding-holder
   {
    max-width: unset;
    width: 95%;
    min-width: unset;
  }
}